#container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40vh
}

#container2 {
  display: flex;
  justify-content: space-evenly;
  background-color: blue;
}

.box1 {
  display: inline-block;
  height: auto;
  width: 400px;
  background-color: yellow;
  margin-left: 5px;
  margin-right: 5px;
}

.box2 {
  height: 200px;
  width: 200px;
  background: red;
  margin: 95px;
}

h2 {
  padding: 55px;
  text-align: center;
  margin: 25px;
}
