.container {
  padding: 65px;
}

#bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#welcome-img {
  width: 100%;
  height: 100%;
}

.class-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#box1 {
  background-color: #ffb803ea;
}

.backgroundContainer1 {
  background-color: #219dbc96;
}

h1,
h2 {
  font-family: 'Megrim', cursive;
  padding: 55px;
  text-align: center;
  margin: 25px;
  font-weight: 700;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

footer {
  text-align: center;
  background-color: #8be3eb;
  width: 100%;
  height: 40px;
}

#quote {
  background-color: #073b4c;
  color: white;
  width: 100%;
  height: 60px;
}

.signup {
  position: relative;
  bottom: 30px;
  left: 80px;
  background: linear-gradient(#bde0fe, #4dcad5);
  font-family: 'Megrim', cursive;
  font-weight: bold;
  margin: 30px;
  width: 100px;
  border-width: 1px;
  border-style: solid;
  padding: 0.5em 1em;
  border-radius: 1em;
  box-shadow: inset 1px 1px 1px white, 1px 1px black, inset -1px -1px 1px grey;
  transition: background-color 0.5s, border-radius 0.5s, box-shadow 0.5s, transform 0.5s;
}

.signup:hover {
  font-family: 'Megrim', cursive;
  font-weight: bold;
  box-shadow: 1px 1px 1px #8be3eb;
  transform: translateY(-0.5em);
  cursor: pointer;
}